{% extends "base.html"%}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="container">
<h1 align="center">Grain Table</h1>
  <h4 align="right">Date & time: {{d1.dt}}</h4>
  <p><b>Family ID: {{f1.id}}</br>     Card color: {{f1.card_color}}   </br>  Number of member(s): {{n2}} </br> {{dst}} </b></p>
    <h4 align="center">Following table shows quantity of grains to be distributed as per rules:</h4>



<br>
<br>
<div class="container">
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
</thead>
  <tr>
  	
    <td>Wheat</td>
    <td>{{d1.wheat}} kg. </td>
  </tr>

  <tr>

    <td>Rice</td>
    <td>{{d1.rice}} kg. </td>

  </tr>
  <tr>
    <td>Dal</td>
    <td>{{d1.dal}} kg. </td>

  </tr>
</table>


</div>
</body>
</html>
{% endblock %}