{%load static%}
<!DOCTYPE html>
<html>
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'css/bootstrap.min.css'%}"></script>


<link rel="stylesheet" href="{% static 'css/css2.css'%}" type="text/css">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>




  <div class="header">
  <a href="#default" class="logo">Distribution</a>
  <div class="header-right">

    <a class="btn" href="Login"><i class="fa fa-home"></i> Home</a>
    <a class="btn" href="#contact"><i class="fa fa-address-book"></i> Contact</a>
      <a class="btn" href="#about"><i class="fa fa-info-circle"></i> About</a>
      <a class="btn" href="Login"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</div>

<div class="container">
<h1 align="center">Grain Table</h1>
  <h4 align="right">Date & time: {{now1}}</h4>
  <p><b>Family ID: {{idddd}}</br>     Card color: {{cc}}   </br>  Number of member(s): {{mcount}} </br> {{dst}} </b></p>
    <h4 align="center">Following table shows quantity of grains to be distributed as per rules:</h4>





<table align="center">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
  <tr>
  	{% block content %}
    <td>Wheat</td>
    <td>{{wheat}} kg. </td>
  </tr>
  {%endblock%}
  <tr>

    <td>Rice</td>
    <td>{{rice}} kg. </td>

  </tr>
  <tr>
    <td>Dal</td>
    <td>{{dal}} kg. </td>

  </tr>
</table>
		<!--<div class="col-sm-4">
			<input type="submit" name="Facedetect">

		</div>-->
  <form action="gdata" method="POST">
	{% csrf_token %}

  </form>

</div>
</body>
</html>
