{%extends "base.html"%}
{%block content%}
<style>
  .blocks,
.btn {
  padding: 24px 12px;
  margin: 5px 10px 5px 10px;
  border-radius: 0;  
}

.blocks {width:100%;}

.btn {max-width:600px;width:600%;}

.container {  
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}
</style>

<br/>
<div class="container" align="center">
<H1>Welcome Distributer</H1>
<br/>
<form action="newfamily"><button class="btn btn-primary">    Add New Family   </button><br/></form>

				  <form action="Newmem_page"><button class="btn btn-primary">    Add New Member   </button><br/></form>
          

          <form action="distgrain"><button class="btn btn-primary">    Distribute  </button><br/></form>
          <form action="updateView"><button class="btn btn-primary">   Update </button><br/></form>
          <form action="deleteView"><button class="btn btn-primary">   Delete </button><br/></form>


		
		<form action="index"><button class="btn btn-primary">         Exit        </button></form>	
      
      <br/>







</center>
</div>
</html>
{%endblock%}