{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Eration System</title>

	<head>
    <html>
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/bootstrap.min.js"></script>




<link rel="stylesheet" href="{% static 'css/css2.css'%}" type="text/css">
<style>

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button2 {
  display: block;
  width: 30%;
  border: none;
  border-radius:20px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button2:hover {
  background-color: #ddd;
  color: black;
}
</style>


</head>
<center>
<body>

  <div class="header">
  <a href="#default" class="logo">Facial Recognization</a>
  <div class="header-right">
    <a class="btn" href="Login"><i class="fa fa-home"></i> Home</a>
    <a class="btn" href="#contact"><i class="fa fa-address-book"></i> Contact</a>
      <a class="btn" href="#about"><i class="fa fa-info-circle"></i> About</a>
      <a class="btn" href="Login"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</div>

<br/>
<div class="container" align="center">
<H1>Welcome Distributer</H1>
<br/>
<form action="newfamily"><button class="button button2">    Add New Family   </button><br/></form>

				  <form action="Newmem_page"><button class="button button2">    Add New Member   </button><br/></form>
          

          <form action="distgrains"><button class="button button2">    Distribute  </button><br/></form>


		
			<button class="button button2">         Exit        </button>
      
      <br/>







</center>
</div>
</html>