{%extends "base.html"%}
{%block content%}


<br>

<h1> Family Detail :</h1>
<br>
<table class="table">
    <thead class="thead-light">
      <tr>
        
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Aadhar</th>
        <th scope="col">mobile_no</th>
        <th scope="col">dob</th>
      </tr>
    </thead>
    <tbody>
        {%for n in n1%}
      <tr>
        <td>{{n.first_name}}</td>
        <td>{{n.last_name}}</td>
        <td>{{n.aadhar}}</td>
        <td>{{n.mobileno}}</td>
        <td>{{n.dob}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock%}